*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --glight:#E5F1D3;
    --gmiddle:#A9C98E;
    --ghard:#4F6D4F;
    --disabled: rgb(127, 135, 129);
    --disabled-txt: rgb(199, 199, 199);
}

header{
    height: 100px;
    background-color: var(--gmiddle);
    .title{
        width: fit-content;
        margin: auto;
        h1{
            font-size: 80px;
        }
    }
}

.container{
    height: 70vh;
}

.container, form, fieldset{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > button {
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px gray;
    background-color: var(--ghard);
    color: var(--glight);
    font-size: 20px;
    font-weight: bold;
    &:disabled{
        background-color: var(--disabled);
        color: var(--disabled-txt)
    }
}

.modale-content{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.641);
    display: flex;
    justify-content: center;
    align-items: center;
    &.out{
        position: relative;
        background-color: none;
        width:fit-content;
        height: fit-content;
    }
    & > .modale {
        position: relative;
        background-color: var(--glight);
        min-width: 200px;
        max-width: 400px;
        min-height: 75px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        & > .close{
            &:hover{
                cursor: pointer;
            }
            position: absolute;
            transform: translate(100px, -40px);
            padding:5px 8px;
            border-radius: 50%;
            background-color: var(--ghard);
            color: var(--glight);
            font-size: 20px;
        }
        & > .msg {
            padding: 15px 30px 15px 30px;
            text-align: center;
        }
    }
}

.init-pos-y {
    transform: translate(0px, -999px);
}
.last-pos-y {
    transform: translate(0px, 0px);
}

.animate-modale {
    animation-name: modalemove;
    animation-duration: .7s;
}
.animate-reverse {
    animation-name: modalup;
    animation-duration: .7s;
}

@keyframes modalemove {
    0% { transform: translate(0px, -999px); opacity: 0;}
    100% { transform: translate(0px, 0px); opacity: 1;}
}
@keyframes modalup {
    0% { transform: translate(0px, 0px); opacity: 1;}
    100% { transform: translate(0px, -999px); opacity: 0;}
}